@-webkit-keyframes rotate {
    from {
    	-webkit-transform: rotate(0deg);
    }
    to {
    	-webkit-transform: rotate(180deg);
    }
} 
.pos{
	-webkit-transform: translate(82px, 82px);
}
.circle1{
	background-position: center center;
	background-repeat: no-repeat;
	fill: none;
	stroke-width: 3;
	-webkit-transition: all .5s;
	stroke: url(#gradient);
	-webkit-animation: rotate 1s infinite linear;
}