@-webkit-keyframes rotate {
    from {
    	-webkit-transform: rotate(0deg);
    }
    to {
    	-webkit-transform: rotate(360deg);
    }
} 
.pos{
	-webkit-transform: translate(210px, 215px);
}
.circle1{
	background-position: center center;
	background-repeat: no-repeat;
	fill: none;
	stroke-width: 10;
	-webkit-transition: all .5s;
	stroke: url(#gradient);
	-webkit-animation: rotate 1s infinite linear;
}

body.line{
	stroke = #333 ;
	stroke-dasharray = 20 ;
	stroke-width = 3 ; 
	stroke-dashoffset = 10 ;
	animation: draw 10s linear infinite;
	fill-opacity: 0;
}

