@-webkit-keyframes rotate {
    from {
    	-webkit-transform: rotate(0deg);
    }
    to {
    	-webkit-transform: rotate(360deg);
    }
} 
.pos{
	-webkit-transform: translate(210px, 215px);
}
.circle1{
	background-position: center center;
	background-repeat: no-repeat;
	fill: none;
	stroke-width: 3;
	-webkit-transition: all .5s;
	stroke: url(#gradient);
	-webkit-animation: rotate 1s infinite linear;
}